<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button
        (click)="cancelar()"
        defaultHref="produtos"
      ></ion-back-button>
      <ion-title style="text-align: center;">Cadastrar Produto</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header> </ion-card-header>
    <ion-card-content>
      <form [formGroup]="produtoForm">
        <ion-item>
          <ion-label position="floating">Nome Produto </ion-label>
          <ion-input type="text" formControlName="nmProduto"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Preço </ion-label>
          <ion-input type="text" formControlName="preco"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descrição </ion-label>
          <ion-input type="text" formControlName="description"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Imagem </ion-label>
          <ion-input type="text" formControlName="img"></ion-input>
        </ion-item>

        <ion-button
          expand="block"
          [disabled]="!produtoForm.valid"
          (click)="salvar()"
          >Salvar</ion-button
        >
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
